body {
	margin: 0 auto;
}
.bigPicture {
	width: 600px;
	height: 420px;
	background: #000;
	margin: 0 auto;
	border: 2px solid #fff;
}
.bigPicture img {
	width: 600px;
	height: 420px;
}

.gallery {
	margin: 0 auto;
	width: 600px;
}

.smallPicture {
	width: 180px;
	height: 120px;
	margin: 8.5px
}